<html>
<head></head>
<body>
<div style ="padding-left: 40px" id="crunch_tweets">
  <h2>Enter a hashtag to crunch twitter for new tweets</h2>
  <input type="text" id="hashtag"><button type="button" id ="start_crunching">Start crunching!</button> 
</div>

<div style ="padding-left: 40px; display: none" id="stats">
</div>

<div style ="padding-left: 40px; display: none" id="error">
</div>

</body>
<html>